<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.OcupacionMapper">

    <select id="recursosMasReservados" resultMap="OcupacionResult">
        select count(*) as cantidadDeReservas, recurso
        from "Proyecto"."reservas"
        group by recurso
        order by cantidadDeReservas desc;
    </select>

    <select id="recursosMenosReservados" resultMap="OcupacionResult">
        select count(*) as cantidadDeReservas, recurso
        from "Proyecto"."reservas"
        group by recurso
        order by cantidadDeReservas;
    </select>

    <select id="reservasPorPrograma" resultMap="OcupacionResult">
        select count(*), u.programa from "Proyecto"."reservas" r
        inner join "Proyecto"."usuarios" u on r.usuario = u.id
        group by u.programa ;
    </select>

    <select id="reservasPorHorario" resultType="java.lang.Integer">
        select count(*)
        from "Proyecto"."reservas" r
        WHERE date_part('hour', r.fechaincio) BETWEEN #{inicio} AND #{fin};
    </select>

    <resultMap type='Ocupacion' id='OcupacionResult'>
        <result property='valor' column='valor'/>
        <result property='filtro' column='filtro'/>
    </resultMap>

</mapper>