<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">

    <insert id="agregarRecurso" parameterType="map" >
        INSERT INTO "Proyecto"."recursos" values (#{recurso.id},#{recurso.nombre},#{recurso.tipo},#{recurso.capacidad},#{recurso.fechaInicio},#{recurso.fechaFin},#{recurso.ubicacion},#{recurso.disponibilidad},#{recurso.observaciones});
    </insert>

    <select id="buscarRecursos" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        WHERE nombre like '%'||#{nombrerecurso}||'%';
    </select>

    <select id="buscarRecursosTodos" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
    </select>

    <select id="buscarRecursosDisponibles" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        where disponibilidad = 'Disponible'
    </select>

    <select id="buscarRecursosLibros" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        where tipo = 1
    </select>

    <select id="buscarRecursosPortatiles" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        where tipo = 2
    </select>

    <select id="buscarRecursosPcs" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        where tipo = 3
    </select>

    <select id="buscarRecursosSalas" resultMap="RecursoResult">
        select *
        FROM "Proyecto"."recursos"
        where tipo = 4
    </select>

    <update parameterType="map" id="cambiarDisponibilidad">
        update "Proyecto"."recursos" set disponibilidad=#{dispo} where id = #{idRecurso};
    </update>

    <resultMap type='Recurso' id='RecursoResult'>
        <result property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='capacidad' column='capacidad'/>
        <result property='fechaInicio' column='fechaInicio'/>
        <result property='fechaFin' column='fechaFin'/>
        <result property='disponibilidad' column='disponibilidad'/>
        <result property='observaciones' column='observaciones'/>
        <association property='tipo' javaType="TipoRecurso"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.TipoRecursoMapper.TipoRecursoResult" columnPrefix='tipo_'></association>
        <association property='ubicacion' javaType="Ubicacion"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.UbicacionMapper.UbicacionResult" columnPrefix='ubicacion_'></association>
    </resultMap>

</mapper>
