<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">

    <resultMap type='Reserva' id='ReservaResult'>
        <result property='id' column='id'/>
        <result property='fechaInicio' column='fechaInicio'/>
        <result property='fechaFin' column='fechaFin'/>
        <association property='usuario' javaType="Usuario"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult" columnPrefix='usuario_'></association>
        <association property='recurso' javaType="Recurso"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper.RecursoResult" columnPrefix='recurso_'></association>
    </resultMap>

</mapper>