<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ReservaMapper">

    <insert id="crearReserva" parameterType="map" >
        INSERT INTO "Proyecto"."reservas"
        values (#{reserva.id},#{reserva.usuario},#{reserva.recurso},#{reserva.fechaSolicitud},#{reserva.fechaInicio},#{reserva.fechaFin},#{reserva.recurrente},#{reserva.recurrencia},#{reserva.cancelada});
    </insert>

    <select id="buscarReservasId" resultMap="ReservaResult">
        select *
        FROM "Proyecto"."reservas"
        WHERE id = #{id};
    </select>

    <select id="buscarReservasUsuario" resultMap="ReservaResult">
        select * from "Proyecto"."reservas"
        where usuario = (select id from "Proyecto"."usuarios" where correo like '%'||#{usuario}||'%');
    </select>

    <select id="buscarReservasActivas" resultMap="ReservaResult" parameterType="java.time.LocalDateTime">
        select * from "Proyecto"."reservas"
        where fechaincio >= #{fechactual} and cancelada = false;
    </select>

    <select id="buscarReservasPasadas" resultMap="ReservaResult">
        select * from "Proyecto"."reservas"
        where #{fechactual} >= fechaincio and cancelada = false;
    </select>

    <select id="buscarReservasCanceladas" resultMap="ReservaResult">
        select * from "Proyecto"."reservas"
        where usuario = (select id from "Proyecto"."usuarios" where correo = #{usuario}) and cancelada = true;
    </select>

    <select id="maxIdReserva" resultType="java.lang.Integer">
        select count(*)
        FROM "Proyecto"."reservas";
    </select>

    <select id="reservasRecurso" resultMap="ReservaResult">
        select * from "Proyecto"."reservas"
        where recurso = #{id};
    </select>

    <update parameterType="int" id="cancelarReserva">
        UPDATE "Proyecto"."reservas"
        SET cancelada = true
        WHERE id = #{id};
    </update>

    <resultMap type='Reserva' id='ReservaResult'>
        <result property='id' column='id'/>
        <result property='fechaInicio' column='fechaInicio'/>
        <result property='fechaFin' column='fechaFin'/>
        <result property='fechaSolicitud' column='fechaSolicitud'/>
        <result property='recurrente' column='recurrente'/>
        <result property='recurrencia' column='recurrencia'/>
        <result property='cancelada' column='cancelada'/>
        <association property='usuario' javaType="Usuario"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult" columnPrefix='usuario_'/>
        <association property='recurso' javaType="Recurso"  resultMap="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper.RecursoResult" columnPrefix='recurso_'/>
    </resultMap>

</mapper>